<!-- Tooltip message utility component -->
{% macro tooltip_component(tooltip_id, help) %}
    {% if help %}
    <div id="{{ tooltip_id }}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        {{ help }}
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    {% endif %}
{% endmacro %}


<!-- Text component template -->
{% macro text_component(id, body, help, tooltip_id) %}
<div class="relative">
    <div id="{{ id }}" class="inline-block">
        <p class="text-sm text-gray-900 dark:text-white" {% if help %} data-tooltip-target="{{ tooltip_id }}" {% endif %}> {{ body }} </p>
        {{ tooltip_component(tooltip_id, help) }}
    </div>
</div>
{% endmacro %}


<!-- Title component template -->
{% macro title_component(id, body, help, tooltip_id) %}
<div class="relative">
    <div id="{{ id }}" class="inline-block">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white" {% if help %} data-tooltip-target="{{ tooltip_id }}" {% endif %}> {{ body }} </h1>
        {{ tooltip_component(tooltip_id, help) }}
    </div>
</div>
{% endmacro %}


<!-- Header component template -->
{% macro header_component(id, body, help, tooltip_id) %}
<div class="relative">
    <div id="{{ id }}" class="inline-block">
        <h2 class="text-4xl text-gray-900 font-bold dark:text-white" {% if help %} data-tooltip-target="{{ tooltip_id }}" {% endif %}> {{ body }}</h2>
        {{ tooltip_component(tooltip_id, help) }}
    </div>
</div>
{% endmacro %}


<!-- Subheader component template -->
{% macro subheader_component(id, body, help, tooltip_id) %}
<div class="relative">
    <div id="{{ id }}" class="inline-block">
        <h4 class="text-2xl text-gray-900 font-bold dark:text-white" {% if help %} data-tooltip-target="{{ tooltip_id }}" {% endif %}> {{ body }}</h4>
        {{ tooltip_component(tooltip_id, help) }}
    </div>
</div>
{% endmacro %}